<div class="container">
  <h1 class="text-center m-4">Our Crew</h1>
  <hr>

  <div class="row m-4">
    <% @marines.each do |marine| %>
      <div class="col-4 text-center">
       <%= marine.first_name.capitalize %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="row d-flex justify-content-center">
    <h2 class="text-center mt-3">Get on board!</h2>
    <div class="col-md-6">
      <%= render "form" %>
    </div>
  </div>
</div>


